RewriteEngine On

# redicted /api to /api/index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^$ index.php [L]

# redirect to /api/index.php with the query
RewriteRule ^(.*)$ index.php [L,QSA]
